<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.student_management.student_management.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.student_management.student_management.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.student_management.student_management.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>com.student_management.student_management.controller.DepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/department</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProgramServlet</servlet-name>
        <servlet-class>com.student_management.student_management.controller.ProgramServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProgramServlet</servlet-name>
        <url-pattern>/ProgramServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>com.student_management.student_management.controller.CourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>TeacherServlet</servlet-name>
        <servlet-class>com.student_management.student_management.controller.TeacherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AttendanceServlet</servlet-name>
        <servlet-class>com.student_management.student_management.controller.AttendanceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AttendanceServlet</servlet-name>
        <url-pattern>/AttendanceServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.student_management.student_management.controller.StudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>30</session-timeout> <!-- Timeout after 30 minutes -->
    </session-config>
</web-app>